pytest==7.2.0
pytest-mock==3.8.2
hypothesis==6.47.5

scikit-learn==1.1.2
sympy==1.12
scipy==1.10.1
numpy==1.23.1
importlib-metadata==4.12.0
matplotlib
fonttools>=4.43.0
PyQt5

jinja2>=3.1.3
setuptools>=65.5.1

## numba support
# enables support for color highlighting in backtraces/error messages
colorama==0.4.5

graphviz==0.20.1
