pytest>=7.2.0
pytest-mock
hypothesis

scikit-learn
sympy
scipy
numpy==1.23.1
numba>=0.56.4
importlib-metadata==4.12.0

Jinja2
setuptools>=65.5.1

## numba support
# enables support for color highlighting in backtraces/error messages
colorama
